	@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helveticaneuecyr-medium-webfont.eot');
    src: url('fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body{
    height: 100%;
}

.wrapper{
 /*   width: 1215px;
    height: 1064px;*/
    font-family: 'Helvetica Neue', Tahoma, Arial, sans-serif;
    margin: 0 auto;
    background: url("../img/bg.jpg") no-repeat center center;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
} 

/*---------MENU----------*/

.navigation{
    width: 100%;
    height: 36px;
    background: url("../img/menu_bg.png") repeat-x;
}

.container{
    width: 39%;
    float: right;
    padding-right: 20px;
}


.menu{
    font-size: 0px;
    line-height: 0px;
    vertical-align: 0px;
    width: 350px;
}

.menu li{
    display: inline-block;
}

.menu li a{
    display: block;
    height: 16px;
    line-height: 14px;
    font-size: 14px;
    color: #60b5ed;
    text-decoration: none;
    padding: 10px;
}

.menu li a:hover{
    color: #fff;
    background: #4eabda;
}

 .menu li.active a{
    color: #fff;
    background: #4eabda;
}

.menu::after {
    background: rgba(0, 0, 0, 0) url("../img/separator.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 36px;
    width: 1px;
    left: 344px;
    position: relative;
    bottom: 34px;
}

.goods_sign_up{
    float: right;
    position: relative;
    bottom: 72px;
}

.goods,.sign_up{
    float: left;
    padding: 10px;
}

.sign_up, .sign_up a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.goods{
    color: #60b5ed;
    text-decoration: none;
    font-size: 14px;
}

.goods:hover{
    color: #fff;
}

.goods::before{
    content: "";
    background: url("../img/flag.png") no-repeat;
    display: block;
    position: absolute;
    width: 21px;
    height: 23px;
    right: 297px;
    bottom: 6px;
}

.sign_up {
    border: solid 1px #4299d2;
    background: -webkit-linear-gradient(top, rgba(81,177,220,.7) 20%, rgba(46,122,196,.7));
    background: -moz-linear-gradient(top, rgba(81,177,220,.7) 20%, rgba(46,122,196,.7));
    background: -o-linear-gradient(top, rgba(81,177,220,.7) 20%, rgba(46,122,196,.7));
    background: -ms-linear-gradient(top, rgba(81,177,0,.7) 20%, rgba(46,122,196,.7));
    background: linear-gradient(to bottom, rgba(81,177,220,.7) 20%, rgba(46,122,196,.7));
}

.sign_up a{
    text-decoration: underline;
}

.sign_up a:hover{
    text-decoration: none;
}

/*---------FORM----------*/

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.registration{
    position: absolute;
    top:50%;
    left:50%;
    width: 560px;
    background: rgba(0,0,0, .63);
    margin-left: -280px;
    margin-top: -312px;
    font-family: 'Helvetica Neue', Tahoma, Arial, sans-serif;
}

.registration h1{
    font-size: 24px;
    line-height: 65px;
    color: #fff;
    text-align: center;
    border-bottom: 2px solid #c5c9bb;
}

.fb{
   /* background: url("../img/fb.png");*/
    width: 276px;
    height: 35px;
    background: -webkit-linear-gradient(top, rgba(62,86,148,.7) 0%, rgba(49,67,117,.7) 100%);
    background: -moz-linear-gradient(top, rgba(62,86,148,.7) 0%, rgba(49,67,117,.7) 100%);
    background: -o-linear-gradient(top, rgba(62,86,148,.7) 0%, rgba(49,67,117,.7) 100%);
    background: -ms-linear-gradient(top, rgba(62,86,148,.7) 0%, rgba(49,67,117,.7) 100%);
    background: linear-gradient(to bottom, rgba(62,86,148,.7) 0%, rgba(49,67,117,.7) 100%);
    border-top: 1px solid #758ab9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: relative;
     margin: 35px auto 30px auto;
}

.fb a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

.fb span{
    font-weight: normal;
}

.fb a::after{
    background: url("../img/mark.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    bottom: 12px;
    left: 242px;
    position: absolute;
    width: 8px;
    height: 11px;
  }

  .fb a::before{
    background: url("../img/f-separator.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    bottom: 0px;
    left: 15px;
    position: absolute;
    width: 24px;
    height: 35px;
  }

  .registration legend {
    text-align: center;
    color: #999999;
    padding-bottom: 30px;
    width: 100%;
  }

  .legend::before{
    content: "";
    display: inline-block;
    width: 122px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #000;
    position: relative;
    bottom: 4px;
  }

   .legend::after{
    content: "";
    display: inline-block;
    width: 122px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #000;
    position: relative;
    bottom: 4px;
}

  input{
    display: block;
    margin: 0 auto;
}


.registration input[type="text"],
[type="password"]{
    color: #ccc;
    padding-left: 15px;
    margin-bottom: 20px;
    background: #100f0f;
    border: none;
    border-bottom: 1px solid #484948;
    width: 275px;
    height: 35px;

}

input[type="text"]:focus, 
input[type="password"]:focus,
input[type="text"]#active{
    background: #1b5288;
    border-bottom: 1px solid #689bcc;
    -webkit-box-shadow: 0 0 9px rgba(47,123,197,.77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 9px rgba(47,123,197,.77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
    box-shadow: 0 0 9px rgba(47,123,197,.77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
}

input[type="checkbox"]{
    display:inline; 
    left: 68px;
    position: relative;
}

.registration label{
    color: #ccc;
    font-size: 14px;
    padding-left: 139px;
}

input[type="checkbox"]{
    position: relative;
    left: 135px;
    top:2px;
}

.registration #send{
    margin-top: 15px;
    width: 155px;
    height: 37px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: none;
    border: 1px solid  #6bb8e7;
    background: rgba(81,176,220,1);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
    background-image: linear-gradient(to top, rgba(0,0,0,.3) 20%, rgba(255,255,255,.3));
    cursor: pointer;
    font-size: 14px;
    color: #fff;
}

.registration p{
    padding-top: 15px;
    padding-bottom: 15px;   
    text-align: center;
    color: #cccccc;
    font-size: 11px;
    line-height: 14px;
}




