	@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helveticaneuecyr-medium-webfont.eot');
    src: url('fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.wrapper{
    width: 1215px;
    height: 1064px;
    font-family: 'Helvetica Neue', Tahoma, Arial, sans-serif;
    margin: 0 auto;
    background: url("../img/bg.jpg") no-repeat center center;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
} 

.navigation{
    width: 100%;
    height: 36px;
}
