.wrapper {
	font-family: Arial, sans-serif;
	width: 500px;
	padding: 50px 0 0 20px;
	margin: 20px auto;
	border: 1px solid #aaaaaa;
}

fieldset {
    width: 170px;
    border: 1px solid #ccc;
    padding: 1em;
}

fieldset div{
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

form{
/*	display: flex;
	align-items: center;*/
}

label{
	color: #aaaaaa;;
}

.show_help{
background:-webkit-linear-gradient(#FFFFFF, #E6E6E6) #F5F5F5 repeat-x;
background:-o-linear-gradient(#FFFFFF, #E6E6E6) #F5F5F5 repeat-x;
background:linear-gradient(#FFFFFF, #E6E6E6) #F5F5F5 repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
     text-decoration:none;
    display:block;
    font-size: 14px;
     width:120px;
    line-height: 20px;
    margin: 20px auto;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.show_help:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
