body{
	background: #0c739f url("../img/bg.jpg") repeat-x;
}

.wrapper{
	background: #fff;
	width: 1000px;
	margin: 0 auto;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,1);
	-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,1);
	-moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,1);
	 padding-top: 24px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.logo{
	float: left;
	padding: 25px 0 0 37px;
}

.logo a{
	display: block;
	width: 283px;
	height: 164px;
	background: url("../img/logo.png") no-repeat;
    text-decoration: none;
    position: relative;
}

.logo span{
	font-family: Tahoma,Arial,sans-serif;
	font-size: 12px;
	color:#128aa7;
	position: absolute;
	padding: 100px 0 0 72px;
}

.contacts_countries{
	float: right;
}

.contacts{
	float: right;
    padding: 0 43px 0;
}

.contacts p{
    font-family:Tahoma,Arial,sans-serif;
	font-size: 12px;
	color:#128aa7;
	line-height: 20px;
}

.contacts p:first-child{
    font-weight: 600;
    font-family:Tahoma,Arial,sans-serif;
	font-size: 12px;
	color:#128aa7;
	line-height: 20px;
}

.countries_list{
   padding: 98px 33px 0 0;
}

.countries li{
	float: left;
	padding-right: 15px;
}

.countries li a{
	font-family:Tahoma,Arial,sans-serif;
	display: block;
	font-size: 10px;
	color:#128aa7;
	text-align: center;
	line-height: 125px;
    width: 54px;
	height: 91px;
}

.countries .India a{
	background: url("../img/countries_iconset.png") 2px 13px no-repeat;
}

.countries .Nepal a{
	background: url("../img/countries_iconset.png") -69px 13px no-repeat;
}


.countries .Tibet a{
	background: url("../img/countries_iconset.png") -142px 13px no-repeat;
}


.countries .Butan a{
	background: url("../img/countries_iconset.png") -214px 13px no-repeat;
}


.countries .Sri-Lanka a{
	background: url("../img/countries_iconset.png") -286px 13px no-repeat;
}


.countries .Maldives a{
	background: url("../img/countries_iconset.png") -359px 13px no-repeat;
}

.countries li a:hover{
	text-decoration: none;
}

.beach{
	clear: both;
}

.beach img{
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
	display: block;
}

/*---------MENU----------*/

.menu{
	width: 100%;
	background:#343434;
	height: 28px;
	border-bottom: 1px solid #000;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    margin-top: 1px;
    font-size: 0px;
  	line-height: 0px;
  	vertical-align: 0px;
}

nav>.menu>li{
	display: inline-block;
	padding: 8px 21px 0 39px;
	position:relative;
}

.menu li a{
	display:block;
	padding: 5px;
	color:#fff;
	text-decoration:none;
	font-family:Tahoma,Arial,sans-serif;
	font-size: 14px;
	height: 100%;
}

li.travel a[title]::after {
    background: url("../img/menu_arrow.png") no-repeat;
    content: "";
    display: block;
    height: 28px;
    left: 132px;
    position: absolute;
    top: 10px;
    width: 35px;
 }

li.service a[title]::after {
    background: url("../img/menu_arrow.png") no-repeat;
    content: "";
    display: block;
    height: 28px;
    left: 92px;
    position: absolute;
    top: 10px;
    width: 35px;
}

li.partner a[title]::after {
    background: url("../img/menu_arrow.png") no-repeat;
    content: "";
    display: block;
    height: 28px;
    left: 118px;
    position: absolute;
    top: 10px;
    width: 35px;
}

/*---------DROPDOWN MENU----------*/

.menu ul{
    position: absolute;
     left: -9999px;
	opacity: 0;
	-webkit-transition:0.25s linear opacity;
	-moz-transition:0.25s linear opacity;
	-transition:0.25s linear opacity;
}

.menu li:hover ul{
	opacity:1;
	background:#343434;
	margin: 4px;
}

.menu li:hover .travel_list{
	left: 40px;
}

.menu li:hover .service_list{
	left: 40px;
}

.menu li:hover .partner_list{
	left: 40px;
}

.menu ul li{
	padding-top: 8px;
	padding-right: 40px;
}

.menu ul li:last-child{
	padding-bottom: 8px;
}

.menu ul a{
	display:block;
	text-align: left;
}	

/*---------COLUMNS----------*/

.basic_col{
	overflow: hidden;
}

.leftColumn{
	background: #edeef0;
	border-right: 1px solid #c7cacf; 
	width: 209px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.centerColumn{
	background: #fff;
	width: 520px;
	float: left;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.rightColumn{
	background: #edeef0;
	border-left: 1px solid #c7cacf;
	width: 208px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

section h2{
	font-family: Tahoma,Arial,sans-serif;
	font-size: 18px;
	color:#424c43;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
	font-weight: bold;
}

section p{
	font-family: Tahoma,Arial,sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #424c43;
}

section p:last-child{
	padding-bottom: 15px;
}


/*---------FOOTER----------*/

footer p{
	font-family: Tahoma,Arial,sans-serif;
	font-size: 12px;
	color: #fff;
	text-align: center;
	padding: 9px 0;
}


