<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lesson 13-14 Frontend Test</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<script type = "text/template" id = "test">
		<form action="" class = "form">
			<h1><%= textTitle%></h1>
			<ol class ="tmplList">
				<% for(var item in questions){%>
					<li class ="tmplList__item">
						<h3><%= questions[item].title%></h3>
						<ul class = "secondList">
							<% if(questions[item].oneAnser){%>
								<% var count = 0%>
								<% questions[item].answers.forEach(function(answer){%>
									<li class = "secondList__item">
										<label><input type = "radio" name = "<%= 'name'+nameForInput %>"><%= answer%></label>
									</li>
									<% count++; if(count === 3){count = 0;nameForInput++;}%>
								<%})%>
							// <%}else{%>
							// 	<% questions[item].answers.forEach(function(answer){%>
							// 		<li class = "secondList__item">
							// 			<label><input type = "checkbox"><%= answer%></label>
							// 		</li>
							// 	<%})%>
							<%}%>	
						</ul>
					</li>
				<%}%>
			</ol>
			<button type = "button" id = "buttonOn" class="btn-info"><%=buttonOn%></button>
		</form>
	</script>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="js/lodash.js"></script>
	<script src="js/script.js"></script>
</body>
</html>